.elementor-widget-wrap > .embed-privacy-container {
	width: 100%;
}

.elementor-fit-aspect-ratio > .embed-privacy-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.elementor .elementor-custom-embed .embed-privacy-overlay {
	line-height: 1.3;
}
