.embed-privacy-hidden {
	display: none !important;
}

.embed-privacy-icon {
	background-color: rgba(0, 0, 0, .75);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	left: 5px;
	padding: 5px;
	position: absolute;
	top: 5px;
}

.embed-privacy-image-container {
	position: relative;
}
